* {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

body {
  background-color: #9ad3bc;
}

.login-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 300px;
  width: 300px;
  background-color: #f5b461;
  border-radius: 5px;
  padding: 5px;
}

.login-container .login-header {
  text-align: center;
  color: #fff5c9;
}

.input-field {
  margin: 12px;
  padding: 5px;
}

.sign-in-btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sign-in-btn-container .sign-in-btn {
  outline: none;
  border: none;
  border-radius: 4px;
  padding: 10px;
  color: white;
  font-size: 14px;
  cursor: pointer;
  width: 100px;
  background-color: #ec524b;
  margin-top: 20px;
}

.input-field input {
  padding: 3px;
  font-size: 14px;
  width: 100%;
  box-sizing: border-box;
  border-radius: 4px;
  outline: none;
  border: none;
  height: 38px;
}

.input-field input::placeholder {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.shadow {
  box-shadow: -1px 1px 6px -1px rgba(0, 0, 0, 0.75);
}
